/*modal css start*/

/*添加仪表组*/
/*覆盖模态框样式*/
.cas-modal-header{
	padding:15px;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	font-weight: bold;
}
.cas-modal-header .close{
    opacity:.8;
	color: #fff;
	text-shadow:0 1px 1px #000;
}
.modal-footer{
	padding:8px 15px;
}
/*modal css end*/

.form-horizontal .form-group{
	margin: 0 0 10px 0;
	padding:10px;
}
/*layer hack*/
.layui-layer-title{
	background:#337ab7 !important;
	color: #eee !important;
}
.daterange-input{
	width:220px;
	height:40px;
	margin:10px auto;
	text-indent:10px;
	line-height:40px;
	color:#337ab7;
	background: rgba(4,28,53,.9);
	border: 1px solid #2971b7;
}
.laydate_body .laydate_bottom{
	height:30px !important;
}